{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Quem somos? {% endblock %}</h1>
    <section>
        <article>
             <p>Nós do Anjos das Perucas buscamos fazer um trabalho social gratuito trazendo a melhora da
                qualidade de vida das pessoas que recebem a assistência de nossos projetos.</p>
            <p>Através de um trabalho qualificado e inovador, nossa OSCIP (Organização da Sociedade Civil
                de Interesse Público) nos termos da Lei 9.790/99 registrada em cartório sob o número 15286 e OS
                (Organização Social da Saúde) sob a Lei 9.637/98 registrada no CNPJ: 23.586.579/0001-11 está
                sempre pronta para elaborar projetos em várias áreas, tais como, saúde, educação, assistência
                social e outras.</p>
        </article>
    </section> 
    <hr>
  
{% endblock %}    